#app {
    &-layout {
        width: 100%;
        height: 100%;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
    }
    
    &-header {
        width: 100%;
        height: 62px;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0 1px 5px #EAEAEA;
        padding: 5px 20px;

        h1 {
            font-size: 18px;
        }
    }
    

    &-content {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
        flex: 1;
        position: relative;
    }

}

.display-success, .display-error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #06b423;
    font-weight: bold;
    font-style: italic;
}

.display-error {
    color: #f35252;
}


.content-card {
    max-width: 800px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &-title {
        width: 100%;
        height: 50px;
        padding: 5px 0;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        & > span {
            display: flex;
            align-items: center;

            strong {
                margin-left: 15px;
            }

            span {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }

   &-body {
        width: 100%;
        min-height: 200px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 8px #EAEAEA;
    }
}

.btn {
    &-primary {
        background-color: #00B8C5;
        box-shadow: 0 2px 8px #EAEAEA;
        border: none;
        padding: 10px;
        color:#FFFFFF;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #02c8d6;
        }
    }

    &-secondary {
        background-color: transparent;
        border: none;
        padding: 10px;
        color:#444;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #EEEEEE;
        }
    }
}

.user-form {
    min-width: 400px;
    padding: 15px;

    .form-group {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
          }
      }

      input[type=text], select {
        width: 100%;
        padding: 12px;
        border: 1px solid #DDD;
        border-radius: 4px;
        resize: vertical;
      }

      .form-error, .form-error-top {
          font-size: 11px;
          color:#f35252
      }

      .form-error-top {
          text-align: center;
      }
}

.users-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;

    tr {
        border-bottom: 1px solid #EEEEEE;
        cursor: pointer;
        

        &:hover {
            background-color: #FAFAFA;
        }
    }

    td, th {
        padding: 15px 20px;
    }

    th {
        text-align: left;
    }

    .col-actions {
        text-align: center;
        cursor: pointer;
    }
}
